*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
debug.keystore

.runtime-cache/
app/src/main/assets/runtime/
app/src/main/jniLibs/
__pycache__/
*.pyc
app/src/main/assets/licenses/*-source.tar.*
app/src/main/assets/licenses/PRoot-build-scripts.tar.gz
app/src/main/assets/licenses/Runtime-build-scripts.zip
